opencv-python
mediapipe
pyautogui
speechrecognition
pyaudio
pycaw
requests
numpy
transformers
torch
torchvision
pillow
gtts
pygame
pyttsx3
typing-extensions
comtypes
pywin32
google-generativeai
httpx
python-dotenv